  <header>
    <div class="global-nav cf">
      <div class ="container">
        <div class ="left-side">
        <div class="logo-container">
            <%= link_to 'Brackt', root_path %>

        </div><!-- end logo-container!-->
        <div class="nav-search">
          <form>
            <input type="text" class="search-input"/>
          </form>

        </div><!-- end nav-search!-->
        <div class="site-nav">
          <ul>
                  <li><%= link_to 'Networks', '#', class: "selected" %></li>
                  <li><%= link_to 'Explore', '#' %></li>
          </ul>
        </div><!-- end site-nav!-->
      </div><!-- end left-side !-->
        
        <div class="user-menu">
          <ul>
            <li><%= link_to 'New', '#' %>
            <li><%= link_to 'Me', '#' %>          
              <div class="user-dropdown">
                <ul>
                  <li><%= link_to 'Profile', current_user %></li>
                  <li><%= link_to 'Settings',  settings_path %></li>
                  <li><%= link_to 'My Brackts',  '#' %></li>
                  <li><%= link_to 'My Outlooks', '#' %></li>
                  <li><%= link_to 'Upgrade', '#' %></li>
                  <li><%= link_to 'Support', '#' %></li>
                  <li><%= link_to 'People', '#' %></li>
                  <li><%= link_to 'Privacy', '#' %></li>
                  <li><%= link_to 'Sign Out', signout_path, method: 'delete' %></li>
                  <li><%= link_to 'Users',  users_path %></li>
                </ul>
              </div>
            </li>
            <li><%= link_to 'Interactions', '#' %></li>
          </ul>
        </div><!-- end user-menu !-->   
      </div><!-- end container!-->
  </div><!-- end global-nav !-->
</header>