<% provide(:title, 'Brackt - Sign In')%>

<h1>Sign In</h1>
    <div class="">
      <div>
        <%= form_for(:session, url: sessions_path) do |f| %>
          <p>
            <%= f.label :email %>
            <%= f.text_field :email %>
          </p>

           <p>
              <%= f.label :password %>
              <%= f.password_field :password %>
           </p>
           <p>
              <%= f.label :remember_me %>
              <%= f.check_box :remember_me %>
           </p>
           <p>
             <%= f.submit "Sign In", class: "btn-large" %>
           </p>
        <% end %>
        <p>
          <%= link_to "Fogot Password?", recover_password_path %>
        </p>
        <p> New user? <%= link_to "Sign Up Here!", new_user_path %></p>
      </div>
    </div>

