<li id="<%=feed_item.id %>" class="feed_item status">
	<div class="post_container">
		<div class="post-header">
			<div class="avatar-bg size48">
			</div>
			<div class="post-actions">
				<ul>
					<li><a href="#"> Expand</a></li>
					<li><a href="#"> Reply</a></li>
					<% if current_user?(feed_item.user) %>
						<li><%= link_to "delete", feed_item, method: :delete,
										 data: { confirm: "Are you sure?" },
										 title: feed_item.status %></li>
					<% else %>
					 <li><a href="#">Branch</a></li>
					<% end %>
					<li><a href="#"> Vote</a></li>
				</ul>
			</div>
			<div class="post-info">
				<p><span> <%= link_to feed_item.user.fullname, feed_item.user %></span>
					<span> <span>
				<span> @<%= link_to feed_item.user.username, feed_item.user %></span></p>
				<span class="text-fade"> Public - <%= time_ago_in_words(feed_item.created_at) %> ago</span>
			</div>
			
			<div style="clear:both;"></div>
		</div>
		<div class="post-content">
		<span> <%= feed_item.status %></span>
		<% if feed_item.photo_path.present? %>
				<%= image_tag feed_item.photo_path_url(:thumb).to_s %>
		<% end %>
		</div>
	</div>